#home {
    background-image: url("/images/assets/backgrounds/h_img.jpg");
    color: white;
    font-size: xx-large;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 480px;
    height: auto;


}

#para {
    text-align: center;
    font-size: 15px;



}

.logoD {
    display: grid;
    place-items: center;

}

.about {
    margin-top: 5px;
}

.services {
    background-image: url("/images/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 480px;
    height: auto;
    color: white;
}

.what-we-do {
    margin-top: 10px;
}

.design3 {
    display: none;
}

.develop3 {
    display: none;
}

.product3 {
    display: none;
}
.contact{
    background-image: url("/images/assets/backgrounds/c_image.jpg"); background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 480px;
    height: auto;
    color: white;

}
.form1{
    text-align: center;
}
.footer{
    justify-content: center;
    display: grid ;
}
.footer2{
    text-align: center;
}